{# In pkgs Archlinux is missing 'ledger' and Debian 'languagetool'. #}
{% set emacs = salt['grains.filter_by']({
    'Arch': {'pkgs': [
	'aspell-en',
	'aspell-fr',
	'emacs',
	'enchant',
	'hunspell-en',
	'hunspell-fr',
	'graphicsmagick',
	'languagetool',
	'mu',
	'python2-virtualenv',
	'python-virtualenv',
	'wmctrl'
    ] },
    'Debian': { 'pkgs': [
	'aspell-fr',
	'aspell-en',
	'emacs',
	'enchant',
	'hunspell-en-us',
	'hunspell-fr',
	'graphicsmagick',
	'ledger',
        'mu4e',
        'python-virtualenv',
        'python3-virtualenv',
	'wmctrl'
    ] },
    'MacOS': { 'pkgs': [
        'aspell',
        'coreutils',
	'emacs',
	'enchant',
	'hunspell',
	'graphicsmagick',
	'ledger',
        'mu',
	'org-mode'
    ] }
}) %}
